<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="MyFeed" value="C:\mypackages\packageReferences" />
    <add key="Package source" value="https://packagesource" />
  </packageSources>
  <packageRestore>
	<add key="enabled" value="True" />
	<add key="automatic" value="True" />
  </packageRestore>

 <config>
  <clear />
    <!-- <add key="repositoryPath" value="C:\mypackages\packagesdeveloper" /> -->
    <add key="globalPackagesFolder" value="C:\mypackages\packageReferences" />
 </config>
</configuration>
